<div class="input{{#if className}} {{className}}{{/if}}">
  <input
    class="input__element"
    type="{{ type }}" title="{{ title }}" name="{{ name }}" value="{{value}}"i id="{{id}}" placeholder="{{placeholder}}">
</div>
