<div class="input{{#if className}} {{className}}{{/if}}">
  <input class="input__element" type="{{ type }}" 
  name="{{ name }}" value="{{value}}" id="{{id}}" placeholder="{{placeholder}}">
  <label class="input__label">{{title}}</label>
</div>
